{% extends 'blog/hindi/base.html' %}

{% load static %}


{% block bootstrap-js %}

{% endblock %}

{% block body %}
<div class="theiaStickySidebar">

    <section class="home-featured-cat mag-cat-style-1">
        <div class="penci-border-arrow penci-homepage-title penci-magazine-title style-5 pcalign-left"><h3
                class="inner-arrow"><a
                href="fdasdad.pencidesign.com/soledad-magazine/category/fitness/">Fitness</a></h3>
        </div>
        <div class="container penci_sidebar right-sidebar">
            <div id="main" class="penci-layout-list penci-main-sticky-sidebar">
                <div class="theiaStickySidebar">
                    <div class="archive-box">
                        <div class="title-bar"><span>Category:</span>
                            <h1>{{this_category}}</h1></div>
                    </div>
                    <ul class="penci-wrapper-data penci-grid">

                        {% for article in content_by_category %}
                        <li class="list-post">
                            <article id="post-910" class="item hentry">
                                <div class="thumbnail">
                                    {% if article.post_image %}
                                    <a class="penci-image-holder penci-lazy"
                                      data-src="{{article.post_image.url}}"
                                      href="{% url 'single-article-hindi' article.category article.slug %}"
                                      title="{{article.title_hindi}}"> </a>
                                    {% else %}
                                    <a class="penci-image-holder penci-lazy"
                                      data-src="{% static 'images/default-post.png' %}"
                                      href="{% url 'single-article-hindi' article.category article.slug %}"
                                      title="{{article.title_hindi}}"> </a>
                                    {% endif %}
                                    <a href="{% url 'single-article-hindi' article.category article.slug %}"></a></div>
                                <div class="content-list-right content-list-center">
                                    <div class="header-list-style"><span class="cat"><a class="penci-cat-name"
                                                                                        rel="category tag">ब्लॉग</a>
                                        <a style="color:grey" class="penci-cat-name"
                                            rel="category tag">{{article.category}}</a></span>
                                        <h2 class="entry-title grid-title"><a
                                                href="{% url 'single-article-hindi' article.category article.slug %}">
                                            {{article.title_hindi}}
                                        </a></h2>
                                        <div class="penci-hide-tagupdated"><span
                                                class="author-italic author vcard">by <a
                                                class="url fn n"
                                                href="#">{{article.username}}</a></span>
                                            <time class="entry-date published" datetime="{{post.timestamp|date:'N j o'}}">
                                                {{article.timestamp|date:"N j o"}}
                                            </time>
                                        </div>
                                        <div class="grid-post-box-meta"><span class="author-italic author vcard">by <a
                                                class="url fn n"
                                                href="#">Isaac Taylor</a></span> <span><time
                                                class="entry-date published" datetime="{{post.timestamp}}">{{article.timestamp|date:'N j o'}}</time></span>
                                        </div>
                                    </div>
                                    <div class="item-content entry-content"><p>{{article.content|safe|truncatechars:"200"}}</p></div>
                                    <span style="float:right"><a href="{% url 'single-article-hindi' article.category article.slug %}"> Read more</a></span>
                                </div>
                            </article>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}